.row-1{
	background:#5DA6FE;
	height:50vh;
}
.row-2{
	background:#fff;
	height:50vh;
}
.rowin{
	display: flex;
/*	justify-content:center;*/
}
.container-1{
	margin-top: 8%;
	/*border-radius: 20px;*/
}
.shadow-lg .p-3 .mb-5 .bg-white .rounded{
	border-radius: 20px;
	border:1px solid black;
}

.colu-1, .colu-2{
	display:flex-block;
	border-right: 0.5px dotted #ddd;
	justify-content: center;
	padding: 1% 0;
	text-align: center;
}
.colu-3{
	display:flex-block;
	/*border-right: 1px dotted #555;*/
	justify-content: center;
	padding: 1% 0;
	text-align: center;
}
.border-right-0>img{
	width: 230px;
	height: 230px;
}
.border-right-0>h1{
	font-family: 'Montserrat', sans-serif;
	color:#66A5FE;
	font-weight:750;
	font-size: 2.7em;
}
.border-0>img{
	width: 230px;
	height: 230px;
	border:none;
}
.border-0>h1{
	font-family: 'Montserrat', sans-serif;
	color:#66A5FE;
	font-weight:750;
	font-size: 2.7em;
}
.text-black-50{
	padding-top:0px;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	letter-spacing:0.1em;
}
hr{
	width:50%;
	justify-content: center;
}
.sub-content{
	width:70%;
	margin:auto;
}
.sub-content>hr{
	width:80%;
	justify-content:center;
}
.font-weight-bolder{
	text-transform: uppercase;
	color:#66A5FE;
	font-family: Arial;
	font-size: 0.8em;
	font-weight:800;
	letter-spacing:0.1em;
}